<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dogs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            border: 2px solid black;
            display: inline-block;
        }

        body {
            margin-top: 10%;
        }

        #content {
            border-radius: 20px;
            border: 3px solid black;
            padding: 20px;
            width: 1000px;
            text-align: center;
            margin: auto;
            box-shadow: 10px 10px 30px;
        }
        /* .image-cropper {
            display: inline-block;
            position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
        }

        .dog-pic {
            width: auto;
            height: 100%;
            margin-left: -50px;
        } */
    </style>
</head>

<body>
    <div id="content">
        <h1>My Dog Pack <a href="/dog/new"><button class="btn btn-primary">Add new!</button></a></h1>

        <% for ( var x in alldogs) { %>
        
            <a href="/dog/<%= alldogs[x]._id %>"><img class="dog-pic" src="<%= alldogs[x].pic %>"></a>
       
        <% } %>
    </div>
</body>

</html>